body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.start-button{
  font-size:15px;
  font-family:'Press Start 2P', cursive;
  width:160px;
  height:50px;
  border-width:1px;
  color: #FEF2BF;
  border-color:#54381e;
  border-top-left-radius:3px;
  border-top-right-radius:3px;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  text-shadow:inset 0px 1px 0px #54381e;
  background:linear-gradient(#7d5d3b, #634b30);
}

.start-button:hover{
  background: linear-gradient(#634b30, #7d5d3b);
}